<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%magenta(%d{HH:mm:ss.SSS})] [%yellow(%20.-20thread)] [%highlight(%4.-4level)] [%18.-18logger{36}] %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>